body {
    background-color: black;
}

.backVideo {
position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
}
.top {
    position: fixed;
    background: rgba(128, 113, 113, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
img {
    width: 135px;
    float: right;
    top: 0;
    padding-right: 100px;
}
h1 {
    display: inline-block;
}
.youtube {
    float: left;
    width: 30%;
    position: relative;
}
#video1 {
margin: 120px 20px 20px 0;
display: inline;
}
#video2 {
    margin: 0 30px 30px 0;
    display: inline;
}
.audio {
    margin: 120px 10px 0 0;
    float: right;
}
.map {
    width: 25%;
    margin-top: 15%;
    position: relative;
    float: right;
    color: #fff;
}
#mapframe {
    margin: 0px 20px 0 0;
}
section {
    display: initial;
    position: relative;
    position: fixed;
    background: rgba(128, 113, 113, 0.5);
    color: #f1f1f1;
    width: 20%;
    height: 25%;
    margin-top: 30%;
    padding: 20px;
}